.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #0078d7;
}

.loading,
.error,
.no-logs {
  text-align: center;
  font-size: 1rem;
}

.error {
  color: red;
}

.log-table {
  width: 40%;
  background-color: rgb(99, 99, 99);
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.log-table thead {
  background-color: #0078d7;
  color: white;
}

.log-table th,
.log-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 0.95rem;
}

.log-table tbody tr:hover {
  background-color: #929292;
}

.tables-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; /* space between tables */
    flex-wrap: wrap; /* makes it responsive on small screens */
    width: 100%;
    max-width: 1200px;
}

.table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-section h3 {
    color: #0078d7;
    margin-bottom: 10px;
}

.log-table {
    width: 100%;
    max-width: 500px;
}
